@use "variables" as v;
@use "mixins";

.about-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: white;
    padding-left: 0;
    padding-right: 0;

    @include mixins.desktop {
        padding-left: v.$sidepaddingdesktop;
        padding-right: v.$sidepaddingdesktop;

        padding-top: 0;
    }
}
.about-text-avatar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 75px;
    height: auto;
    @include mixins.desktop {
        flex-direction: row;
    }
}

.about-text-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 75%;
    height: auto;
    background-color: rgb(255, 255, 255, 1);
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: slideInFromLeft 1s forwards;
    line-break: normal;
    h2 {
        font-size: 1.2em;
        margin: 0;
        @include mixins.desktop {
            font-size: 2em;
        }
    }
    h3 {
        font-size: 1em;
        font-weight: 400;
        margin: 0;
        @include mixins.desktop {
            font-size: 1.5em;
        }
    }
    p {
        font-size: 1.2em;
        font-weight: 300;
        margin: 0;
    }
    @include mixins.desktop {
        width: 45%;
    }
}

.about-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: slideInFromRight 1s forwards;
    @include mixins.desktop {
        width: 250px;
        height: 250px;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.header-sociallinks {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 40px;
    bottom: 50px;
}

.social-icon {
    font-size: 24px;
    color: rgb(23, 46, 255);
    @include mixins.desktop {
        font-size: 40px;
    }
}
