@use "variables" as v;
@use "mixins";

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: white;

    @include mixins.desktop {
        padding-left: v.$sidepaddingdesktop;
        padding-right: v.$sidepaddingdesktop;
    }
}

.project-item-box {
    display: grid;
    grid-template-columns: repeat(1fr);
    width: auto;

    grid-gap: 60px;

    @include mixins.desktop {
        grid-template-columns: repeat(2, 1fr);
    }
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-indent: 1em;
    gap: 20px;
    padding-bottom: 20px;
    width: auto;
    height: auto;
    background: white;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;

    h2 {
        margin: 0;
    }
    p {
        margin: 0;
    }
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    }
}

.project-image {
    width: 300px;
    height: auto;
    @include mixins.desktop {
        width: 450px;
    }
}
